html, body{
	width: 100%;
	height: 100%;
}
.main-container{
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.main-container > section{
	width:100%;
	height: 100%;
	display: flex;
}
.profile-section{
	flex: 1;
	padding-top: 50px;
}
.profile-section .list-group-item{
	cursor: pointer;
}
.profile-section .list-group-item:hover{
	background: #eee;
}
.posts-section{
	flex: 1.5;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 50px 10px 0 10px;
	overflow-y: scroll;
}
.posts-section::-webkit-scrollbar {
  width: 0px;
}
.posts-section .card{
	margin-bottom: 20px;
}
.filters-section{
	flex-basis: 270px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	align-items: flex-end;
	overflow-y: scroll;
	padding-bottom: 100px;
}
.filters-section::-webkit-scrollbar {
	width: 0px;
}
.filters-section h4{
	margin-bottom: 0;
}
.filters-section .list-group{
	width: 270px;
}
.filters-section .list-group-item{
	cursor: pointer;
}
.filters-section .list-group-item-filter:hover{
	background: #eee;
}
.filters-section hr{
	background: #eee;
	width: 250px;
	margin-left:0;
}
.card-header{
	background: none;
}
.new-post-container{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.new-post-container .card{
	border: 2px solid #888888;
}
.new-post-container #discard-post{
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 25px;
	color: orangered;
	cursor: pointer;
}
.new-post-container #title{
	margin-right: 100px;
}
.list-group-item-title{
	display: block;
	position: relative;
}
.clear-filters::after{
	content: '\f00d';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.filters-section .dropdown-toggle::after{
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.filters-section .form-check{
	margin-top: 8px;
}
.select-filters select{
	width: 250px;
	margin-right: 10px;
	float: left;
}
.clear-filters-ul{
	display: none;
}